<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bluebits.mocki"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation|screenSize"

        android:icon="@drawable/ic_launcher_origin"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="org.bluebits.mocki.Mocki"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.bluebits.mocki.client.activities.MockiMenuActivity"
            android:label="@string/home_screen_oc"
            android:parentActivityName="org.bluebits.mocki.Mocki"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bluebits.mocki.Mocki" />
        </activity>
        <activity
            android:name="org.bluebits.mocki.client.activities.OrderCollectionActivity"
            android:label="@string/home_screen_oc"
            android:parentActivityName="org.bluebits.mocki.Mocki"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.bluebits.mocki.client.activities.MockiMenuActivity" />
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
    </application>

</manifest>